body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#main {
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#header p {
    text-align: center;
    font-size: 2.2rem;
    font-family: Roboto-Medium;
}
#nav{
    display: flex;
    justify-content: center;
}
#nav img {
    width: 10vw;
    border-radius: 50%;
    height: 15vh;
}
#form {
    display: flex;
    justify-content: center;
}
#form input[type=text],input[type=password]{
    font-family: Roboto-thin;
    border: none;
    outline: none;
    font-size: 0.9rem;
    border-bottom: 2px solid #d2d2d2;
    padding: 15px 100px 6px 2px;
}
#form input[type=submit]{
    font-family: Roboto-Medium;
    color: white;
    background-color: yellowgreen;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 15px 100px;
    border-radius: 25px;
}
#footer p{
    font-family: Roboto-thin;
    color: #797979;
    cursor: pointer;
    text-align: center;
}
#footer p:hover{
    color: black;
}